---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

const activities = [
  {
    num: "1",
    text: "Sanstha Director Dr. Chandradeep Hada Directed 30 Days Theatre Workshop in Sanskritik Virasat Prashikshan Shivir of City Palace, Jaipur. This Workshop was organized from 18 May to 18 June 2026 at City Palace, Jaipur. On Culmination of workshop Performed a Stage Play ‘Sanatan Ra Prahari Maharaja Mansingh Ji Pahla’ in Dhundhadi Language on 18 June 2026 at Sarvato Bhadra. Theatre activity conducted by Actors Theatre at Rajasthan and Abhinay Bharti Natya Sanstha.",
    images: ["/images/activities/image2.jpeg", "/images/activities/image3.jpeg"]
  },
  {
    num: "2",
    text: "Sanstha director Dr. Chandradeep Hada directed a stage play ‘Ma Bharati ki Pukar’ for State Level ‘Prakritik Kheti Karyashala’. Org. on 12 June 2026 at SMS Stadium, Jaipur. Organized by Kisan Morcha of BJP Rajasthan. Theatre activity conducted by Actors Theatre at Rajasthan and Abhinay Bharti Natya Sanstha",
    images: ["/images/activities/image4.jpeg", "/images/activities/image5.jpeg"]
  },
  {
    num: "3",
    text: "Sanstha Director Dr. Chandradeep Hada Directed a 15 days Theatre Workshop in Cultural Camp at Shri Shri Krishna Balram Mandir, Jagatpura. Organized from 18 May to 01 June 2026. On culmination of workshop performed a play ‘Gupt Vrindavan Ka Rahasya’ on 31 May 2026 at Rasikam Auditorium. Theatre activity conducted by Actors Theatre at Rajasthan and Abhinay Bharti Natya Sanstha",
    images: ["/images/activities/image6.jpeg", "/images/activities/image7.jpeg"]
  },
  {
    num: "4",
    text: "8th Rajrangam-Rajasthan Rang Mahotsav organized from 04 April to 31 May 2026 at Jawahar Kala Kendra, Jaipur. In the National Level Theatre Festival organized 3 full length Stage Plays, 2 Nukkad Natak, 1 Seminar, 1 Exhibition and 21 days Acting Workshop. Project sanctioned by Ministry of Culture, Govt. of India.",
    images: ["/images/activities/image8.jpeg", "/images/activities/image9.jpeg"]
  },
  {
    num: "5",
    text: "In Srijan-2026 of Poornima University, Jaipur, on 02.4.2026 creative director of our Sanstha Dr. Chandradeep Hada visited and preview the campus, interacted with participants and Guests. Supported by Actors Theatre at Rajasthan.",
    images: ["/images/activities/image10.jpeg", "/images/activities/image12.jpeg"]
  },
  {
    num: "6",
    text: "Children Theatre Workshop on 19 March 2026 organized at Govt. Girls Senior Secondary School, Murlipura, Jaipur. Directed by Dr. Chandradeep Hada. Conducted by Actors Theatre at Rajasthan.",
    images: ["/images/activities/image14.png", "/images/activities/image15.jpeg", "/images/activities/image16.jpeg", "/images/activities/image17.jpeg"]
  },
  {
    num: "7",
    text: "In Vivacity-2026 of LNMIIT, creative director of our sanstha Dr. Chandradeep Hada participated as Judge for Street Play Compitation on 06 February at Jaipur Campus. Supported by Actors Theatre at Rajasthan",
    images: []
  },
  {
    num: "8",
    text: "Theatre Workshop organized on 24.01.2026 at Ruparampura Govt. School, Jaipur. Directed by Dr. Chandradeep Hada. Conducted by Actors Theatre at Rajasthan.",
    images: ["/images/activities/image20.jpeg", "/images/activities/image21.jpeg"]
  },
  {
    num: "9",
    text: "Performed a Stage Play Kalpurush-Krantikari Veer Savarkar on 02.12.2026 at Mini Theare, Ravindra Manch, Jaipur. Directed by Dr. Chandradeep Hada. Organized by Actors Theatre at Rajasthan.",
    images: ["/images/activities/image22.jpeg", "/images/activities/image23.jpeg"]
  },
  {
    num: "10",
    text: "On the occasion of International Geeta Jayanti, Participated as Judge in Short Play Competition on 1 December 2025, Org. by Hare Krishna Movement at Shri Shri Krishna Balram Mandir Prangan, Jagatpura, Jaipur. Supported by Actors Theatre at Rajasthan.",
    images: ["/images/activities/image24.jpeg", "/images/activities/image25.jpg"]
  },
  {
    num: "11",
    text: "Stage Play Acharya Bhikshu (Janma se Diksha) organized by Shri Shwetambar Terapanth Mahila Mandal Jaipur on 07 September 2025 at Anuvibha Kendra. Directed by Dr. Chandradeep Hada, Supported by Actors Theatre at Rajasthan.",
    images: ["/images/activities/image26.jpeg", "/images/activities/image27.jpeg"]
  },
  {
    num: "12",
    text: "Organized 2nd Lok Natya Prayogotsav on 26 June 2025 at Jawahar Kala Kendra, Jaipur. During this one day Festival Performed 2 Plays Raja Bharthari and raja Mordhvaj, based on Turrakalangi and Kuchamani Khyal Lok Natya Shaili. Organized by Actors Theatre at Rajasthan. Sanctioned by Sangeet Natak Akademi, New Delhi.",
    images: ["/images/activities/image28.jpeg", "/images/activities/image29.jpeg"]
  },
  {
    num: "13",
    text: "Performed 4 Shows of a Street Play Akhand Bharat-Sapna Nahin Sankalp on 20 June 2025 at Various spots of Jaipur City. An Activity of Actors Theatre at Rajasthan, Abhinay Bharti Natya Sanstha. Organized by Rudra Foundation Vikas Sansthan, Rajasthan.",
    images: ["/images/activities/image30.jpg", "/images/activities/image31.jpg"]
  },
  {
    num: "14",
    text: "Organized 30 Days Theatre workshop from 27 May to 26 June 2025 at Youth Hostel, Jaipur. Directed by Dr. Chandradeep Hada. Organized by Actors Theatre at Rajasthan. Sanctioned by Sangeet Natak Akademi, New Delhi.",
    images: ["/images/activities/image32.jpeg", "/images/activities/image33.jpeg"]
  },
  {
    num: "15",
    text: "Creative Director Dr. Chandradeep Hada of Actors Theatre at Rajasthan participated as Judge in. Mono Act Competition, organized on 4th March 2025 in the Annual Cultura Fest. VEETHIKA’25 by Maharani College, Jaipur.",
    images: []
  },
  {
    num: "16",
    text: "Performed Stage Play Pancham Ved in Vishva Jan Rang Mahotsa-2025, organized by National School of Drama, New Delhi. A Presentation by Actors Theatre at Rajasthan. Worked as Director.",
    images: ["/images/activities/image35.jpg", "/images/activities/image36.jpg"]
  },
  {
    num: "17",
    text: "7th Rajrangam-Rajasthan Rang Mahotsav, Showcase from 2nd to 6 January 2025 at Jawahar Kala Kendra. In the contemporary theatre festival performed 5 stage plays, 1 Seminar and 5 days exhibition in this leading theatre event. Project is sanctioned by Ministry of Culture, Govt. of India. Org. by Actors Theatre at Rajasthan",
    images: ["/images/activities/image38.jpeg"]
  },
  {
    num: "18",
    text: "Creative Director Dr. Chandradeep Hada of Actors Theatre at Rajasthan participated as Judge in Vigyan Natak Utsav (Pratiyogita) organized on 14th November 2024 by Vigyane evam Prodyogiki Vibhag, Rajasthan Sarkar at Science Park Auditorium, Jaipur",
    images: ["/images/activities/image44.jpeg", "/images/activities/image45.jpeg"]
  },
  {
    num: "19",
    text: "On the occasion of 78th Independence Day team performed stage play Agnipath on 13.08.2024 in Rang Swadhinta Jashna, organized by Sangeet Natak Akademi, New Delhi. Written by Lt. Mahendra Jain. Directed by Dr. Chandradeep Hada.",
    images: ["/images/activities/image47.jpeg"]
  },
  {
    num: "20",
    text: "On the occasion of a Book Publication “Nav Bharat-Antim Pankti ka Utkarsh” by Dr. Nimisha Gaur, Theam Actors Theatre at Rajasthan performed a Story “Baral Kranti” on 13 April 2024 at Rajasthan International Centre, Jaipur. Directed by Dr. Chandradeep Hada. Theatre activity conducted by Actors Theatre at Rajasthan and Abhinay Bharti Natya Sanstha",
    images: []
  },
  {
    num: "21",
    text: "2 Stage Plays Shiv Mahima and Bheli Bat Organized for 1st Lok Natya Prayogotsav. On 14 March 2024 performed 2 plays on the open-air stage of Darshak College of Music and Arts. This Project is Sanctioned by Sangeet Natak Akademy, New Delhi, Organized by Actors Theatre at Rajasthan.",
    images: ["/images/activities/image50.jpeg", "/images/activities/image51.jpeg"]
  },
  {
    num: "22",
    text: "Nukkad Natak Lo Aai Vapas Sone ki Chidiya, as Director and Main Lead Actor performed in Jan Bharat Rang, for 25th Anniversary of Bharat Rang Mahotsav, Showcased on 21 February 2024 at Jaipur. Org. by Actors Theatre at Rajasthan.",
    images: ["/images/activities/image52.jpeg"]
  },
  {
    num: "23",
    text: "For technical support of Stage Play Ram Lala Ghar Aaye, Directed 3 Days Acting Workshop from 19th to 21st January 2024 at Bangkok. This workshop was collaboratively organized by Actors Theatre at Rajasthan, Abhinay Bharti Natya Sanstha with Thai-Indian Theatre Club. This Stage play was Performed on 21.01.2024 at Hotel Marriott, Bangkok, Thailand.",
    images: ["/images/activities/image53.jpeg", "/images/activities/image54.jpeg"]
  },
  {
    num: "24",
    text: "Co-ordinated Nukkad Natak Kar Himmat, Performed 540 Shows in 9 Districts of Rajasthan. This Project is based on the uses Vaseline Gelly. Actors Theatre at Rajasthan Collaborated with Rajasthan Patrika. Dates 18 January to 6th February 2023. Performed by Abhinay Bharti Natya Sanstha.",
    images: []
  },
  {
    num: "25",
    text: "Organized Nukkad Natak Vanikaran, Performed 50 Shows in various Premises of Schools, Colleges, Temples and Public Places of Jaipur City. This Project is based on Environment Awareness. Dates 28th November to 8th December 2024. Organized by Actors Theatre at Rajasthan, Abhinay Bharti Natya Sanstha with Vandematram Sanstha.",
    images: ["/images/activities/image59.jpeg", "/images/activities/image60.jpeg"]
  },
  {
    num: "26",
    text: "Coordinated Cultural Publicity for Vidhansabha Election 2023, organized 5000 shows of Nukkad Natak, Lok Gayan, Kathputli and Jadugar Art Forms in 200 Vidhansabha of Rajasthan. Activity by Sanskritik evam Paryatan Prakoshth, BJP Rajasthan, Supported by Actors Theatre at Rajasthan. 3 Teams of Actors Theatre at Rajasthan Performed 60 Shows in Sanganer, Adarsh Nagar and Hawa Mahal Vidhan Sabha Area.",
    images: ["/images/activities/image61.jpeg", "/images/activities/image62.jpeg"]
  },
  {
    num: "27",
    text: "Organized Stage Play Meri Maa-Lok Sanskriti aur Rajasthan Darshan se Bharpoor ek Adbhut Dastan… Performed on 23 July 2023 in 1st Lok Natya Prayogotsav at Main Auditorium, Ravindra Manch. This Project was Sanctioned by Sangeet Natak Akademy, New Delhi. Play adopted by Jairoop Jeevan Sir. In this activity Dr. Sandhya Purecha Ji, The Chairman of SNA was Chief Guest. Support Sanskritik evam Paryatan Prakoshth, BJP, Rajasthan. Organized by Actors Theatre at Rajasthan.",
    images: ["/images/activities/image64.jpeg", "/images/activities/image65.jpeg"]
  },
  {
    num: "28",
    text: "Stage Play Prakatya on Bhagwan Jagannath Ji, on culmination of 21 days Cultural Camp for Children Theatre, performed on 25.06.2023 at Sudharma Hall, Shri Shri Krishna Balram Mandir, Jagatpura, Jaipur. Camp Organized from 5th to 25 June 2023. Directed This Workshop and Stage Play. Support by Actors Theatre at Rajasthan.",
    images: ["/images/activities/image66.jpeg", "/images/activities/image67.jpeg", "/images/activities/image68.jpeg", "/images/activities/image69.jpeg"]
  },
  {
    num: "29",
    text: "Stage Play Prakaty on Bhagwan Jagannath Ji, on culmination of 21 days Cultural Camp for Children Theatre, performed on 04 June 2023 at Sudharma Hall, Shri Shri Krishna Balram Mandir, Jagatpura, Jaipur. The Camp was organized from 15 My to 04 June 2023. Directed This Workshop and Play. Support by Actors Theatre at Rajasthan.",
    images: ["/images/activities/image71.jpeg", "/images/activities/image72.jpeg"]
  },
  {
    num: "30",
    text: "Organized Stage Play Kalpurush-Krantikari Veer Savarkar and 90 Days Play Workshop. On the occasion of birth anniversary of Vinayak Damodar Savarkar, performed 1st show on 27 May 2023 at Birla Auditorium, Jaipur. Sh. Ravindra Sathe, National Secretary of Savarkar Darshan Pratishthan was Chief Guest. During 90 days Play Workshop, this Stage Play was produced at Ravindra Manch, Jaipur. Project Sanctioned by Ministry of Culture, Govt. of India. Writer Jaivardhan Ji, Main Lead Actor and Director Dr. Chandradeep Hada. A Performance by Actors Theatre at Rajasthan.",
    images: ["/images/activities/image75.jpeg", "/images/activities/image76.jpeg"]
  },
  {
    num: "31",
    text: "Organized 90 days Play Workshop from 5 April to 13 June 2023 at Ravindra Manch and Shri Shri Krishna Balram Mandir, Jagatpura. Sanctioned by Ministry of Culture, Govt. of India. Director Dr. Chandradeep Hada. Organized by Actors Theatre at Rajasthan.",
    images: ["/images/activities/image79.jpeg", "/images/activities/image80.jpeg", "/images/activities/image81.jpeg"]
  },
  {
    num: "32",
    text: "Organized Stage Play Meri Maa-Lok Sanskriti aur Rajasthan Darshan se Bharpoor ek Adbhut Dastan… First Show Performed on 23.02.2023 at Ravindra Manch, Jaipur. Project Sanctioned by Ministry of Culture. Govt. of India. Play adopted by Jairoop Jeevan Sir. Director Dr. Chandradeep Hada. Organized by Actors Theatre at Rajasthan.",
    images: []
  },
  {
    num: "33",
    text: "Performed 36 Shows of Nukkad Natak Azadi ka Amrit Mahotsav. Org. by Bank of Baroda, Mumbai. From 23 to 27 January 2023 in 13 Districts of Rajasthan. Writer Monika Bhargava Singh. Director Dr. Chandradeep Hada. Actors Theatre at Rajasthan Project.",
    images: []
  }
];
---

<Layout 
  title="Our Activities & Archives | Actors Theatre Rajasthan" 
  description="Chronological record of theatre activities, workshops, festivals and stage productions conducted by Actors Theatre Rajasthan from 2023 to 2026."
>
  <Navbar />

  <main class="activities-page">
    <div class="container">
      <div class="activities-hero">
        <a href="/" class="back-link">
          <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" width="16" height="16">
            <line x1="19" y1="12" x2="5" y2="12"/>
            <polyline points="12 19 5 12 12 5"/>
          </svg>
          <span>Back to Home</span>
        </a>
        
        <span class="section-label">Official Archives</span>
        <h1 class="activities-title">Theatre Activities</h1>
        <div class="gold-divider"></div>
        <p class="activities-subtitle">
          The exact chronological record of stage productions, children's theatre training camps, 
          social awareness street campaigns, and national festivals organised between 2023 and 2026.
        </p>
      </div>

      <!-- Linear Document-Style Layout -->
      <div class="activities-list">
        {activities.map((act) => (
          <div class="activity-entry">
            <div class="activity-num">{act.num.padStart(2, '0')}</div>
            <div class="activity-content">
              <p class="activity-text">{act.text}</p>
              {act.images.length > 0 && (
                <div class="activity-photo-row">
                  {act.images.map((img) => (
                    <div class="activity-photo-wrapper">
                      <img src={img} alt="Activity documentation" class="gallery-trigger" loading="lazy" />
                    </div>
                  ))}
                </div>
              )}
            </div>
          </div>
        ))}
      </div>
    </div>
  </main>

  <!-- Image Lightbox Modal -->
  <div class="lightbox" id="lightbox">
    <button class="lightbox-close" id="lightbox-close" aria-label="Close image">×</button>
    <button class="lightbox-nav prev" id="lightbox-prev" aria-label="Previous image">‹</button>
    <img class="lightbox-content" id="lightbox-img" alt="Enlarged gallery photo" />
    <button class="lightbox-nav next" id="lightbox-next" aria-label="Next image">›</button>
  </div>

  <Footer />
</Layout>

<style>
  .activities-page {
    padding-top: 8rem;
    padding-bottom: 6rem;
    background: var(--bg-body);
  }

  .activities-hero {
    max-width: 700px;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .back-link {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--saffron);
    margin-bottom: 2rem;
    transition: var(--transition);
    text-decoration: none;
  }

  .back-link:hover {
    color: var(--saffron-deep);
    transform: translateX(-4px);
  }

  .activities-title {
    font-size: clamp(2.5rem, 5vw, 3.8rem);
    color: var(--ink);
    line-height: 1.1;
    margin-top: 0.5rem;
  }

  .activities-hero .gold-divider {
    margin: 1.5rem 0;
  }

  .activities-subtitle {
    font-size: 1.05rem;
    color: var(--ink-body);
    line-height: 1.85;
  }

  /* Document list layout */
  .activities-list {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 2rem;
  }

  .activity-entry {
    display: flex;
    gap: 3rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid var(--border);
    align-items: flex-start;
  }

  .activity-entry:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  .activity-num {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: 700;
    color: var(--saffron);
    line-height: 0.9;
    opacity: 0.85;
    min-width: 70px;
    text-align: right;
  }

  .activity-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .activity-text {
    font-size: 1.1rem;
    color: var(--ink-body);
    line-height: 1.85;
    font-family: 'Inter', sans-serif;
    max-width: 850px;
  }

  /* Photos layout */
  .activity-photo-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    margin-top: 0.5rem;
  }

  .activity-photo-wrapper {
    position: relative;
    width: calc(33.333% - 0.85rem);
    min-width: 250px;
    max-width: 280px;
    aspect-ratio: 4/3;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid var(--border);
    box-shadow: var(--shadow-sm);
    cursor: zoom-in;
    background: #000000;
  }

  .activity-photo-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
  }

  .activity-photo-wrapper:hover img {
    transform: scale(1.05);
  }

  /* Lightbox Styles */
  .lightbox {
    position: fixed;
    inset: 0;
    background: rgba(26, 24, 22, 0.96);
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }

  .lightbox.active {
    display: flex;
  }

  .lightbox-content {
    max-width: 90%;
    max-height: 80vh;
    object-fit: contain;
    border-radius: 4px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
  }

  .lightbox-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    background: none;
    border: none;
    color: #FFFFFF;
    font-size: 3rem;
    cursor: pointer;
    line-height: 0.5;
    opacity: 0.7;
    transition: opacity 0.2s ease;
  }

  .lightbox-close:hover {
    opacity: 1;
  }

  .lightbox-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.4);
    border: none;
    color: #FFFFFF;
    font-size: 3.5rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    transition: opacity 0.2s ease, background-color 0.2s ease;
  }

  .lightbox-nav:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.7);
  }

  .lightbox-nav.prev { left: 2rem; }
  .lightbox-nav.next { right: 2rem; }

  @media (max-width: 768px) {
    .activity-entry {
      flex-direction: column;
      gap: 1rem;
      padding-bottom: 3rem;
    }
    
    .activity-num {
      text-align: left;
      min-width: auto;
      font-size: 2.2rem;
    }

    .activity-photo-wrapper {
      width: 100%;
      max-width: 100%;
    }

    .lightbox-nav {
      width: 44px;
      height: 44px;
      font-size: 2.5rem;
    }
  }
</style>

<script>
  // Lightbox functionality
  const triggers = document.querySelectorAll('.gallery-trigger');
  const lightbox = document.getElementById('lightbox');
  const lightboxImg = document.getElementById('lightbox-img') as HTMLImageElement;
  const closeBtn = document.getElementById('lightbox-close');
  const prevBtn = document.getElementById('lightbox-prev');
  const nextBtn = document.getElementById('lightbox-next');

  let currentImagesList: string[] = [];
  let currentIndex = 0;

  // Gather all unique image paths currently displayed on the page
  function updateImagesList() {
    currentImagesList = [];
    const visibleTriggers = document.querySelectorAll('.gallery-trigger');
    visibleTriggers.forEach(img => {
      const src = img.getAttribute('src');
      if (src && !currentImagesList.includes(src)) {
        currentImagesList.push(src);
      }
    });
  }

  triggers.forEach(trigger => {
    trigger.addEventListener('click', (e) => {
      const target = e.target as HTMLImageElement;
      updateImagesList();
      const currentSrc = target.getAttribute('src');
      if (currentSrc) {
        currentIndex = currentImagesList.indexOf(currentSrc);
        openLightbox();
      }
    });
  });

  function openLightbox() {
    if (lightboxImg && currentImagesList[currentIndex]) {
      lightboxImg.src = currentImagesList[currentIndex];
      lightbox?.classList.add('active');
      document.body.style.overflow = 'hidden'; // Prevent background scrolling
    }
  }

  function closeLightbox() {
    lightbox?.classList.remove('active');
    document.body.style.overflow = '';
  }

  closeBtn?.addEventListener('click', closeLightbox);

  prevBtn?.addEventListener('click', () => {
    currentIndex = (currentIndex - 1 + currentImagesList.length) % currentImagesList.length;
    if (lightboxImg) lightboxImg.src = currentImagesList[currentIndex];
  });

  nextBtn?.addEventListener('click', () => {
    currentIndex = (currentIndex + 1) % currentImagesList.length;
    if (lightboxImg) lightboxImg.src = currentImagesList[currentIndex];
  });

  // Close when clicking outside of image
  lightbox?.addEventListener('click', (e) => {
    if (e.target === lightbox) {
      closeLightbox();
    }
  });

  // Keyboard navigation
  document.addEventListener('keydown', (e) => {
    if (!lightbox?.classList.contains('active')) return;
    if (e.key === 'Escape') closeLightbox();
    if (e.key === 'ArrowLeft') prevBtn?.click();
    if (e.key === 'ArrowRight') nextBtn?.click();
  });
</script>
